<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mata Kuliah</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
    <style type="text/css">
        body {
            font-family: 'Varela Round', sans-serif;
        }

        .dropdown.dropdown-lg .dropdown-menu {
            margin-top: -1px;
            padding: 6px 20px;
        }

        .input-group-btn .btn-group {
            display: flex !important;
        }

        .btn-group .btn {
            border-radius: 0;
            margin-left: -1px;
        }

        .btn-group .btn:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .btn-group .form-horizontal .btn[type="submit"] {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .form-horizontal .form-group {
            margin-left: 0;
            margin-right: 0;
        }

        .form-group .form-control:last-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        @media screen and (min-width: 768px) {
            #adv-search {
                width: 300px;
                margin: 0 auto;
                float: right;
            }

            .dropdown.dropdown-lg {
                position: static !important;
            }

            .dropdown.dropdown-lg .dropdown-menu {
                min-width: 300px;
            }
        }

        .modal-confirm {
            color: #636363;
            width: 400px;
        }

        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 14px;
        }

        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -10px;
        }

        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -2px;
        }

        .modal-confirm .modal-body {
            color: #999;
        }

        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
            padding: 10px 15px 25px;
        }

        .modal-confirm .modal-footer a {
            color: #999;
        }

        .modal-confirm .icon-box {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 9;
            text-align: center;
            border: 3px solid #f15e5e;
        }

        .modal-confirm .icon-box i {
            color: #f15e5e;
            font-size: 46px;
            display: inline-block;
            margin-top: 13px;
        }

        .modal-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            min-width: 120px;
            border: none;
            min-height: 40px;
            border-radius: 3px;
            margin: 0 5px;
            outline: none !important;
        }

        .modal-confirm .btn-info {
            background: #c1c1c1;
        }

        .modal-confirm .btn-info:hover,
        .modal-confirm .btn-info:focus {
            background: #a8a8a8;
        }

        .modal-confirm .btn-danger {
            background: #f15e5e;
        }

        .modal-confirm .btn-danger:hover,
        .modal-confirm .btn-danger:focus {
            background: #ee3535;
        }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}"> Hey!</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div th:if="${param.ufailed}" class="alert alert-warning" role="alert">
        <strong>NOTIFIKASI : </strong> Gagal update data
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div th:if="${param.usuccess}" class="alert alert-success" role="alert">
        <strong>NOTIFIKASI : </strong> Berhasil update data
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div th:if="${param.dfailed}" class="alert alert-warning" role="alert">
        <strong>NOTIFIKASI : </strong> Gagal hapus data
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div th:if="${param.dsuccess}" class="alert alert-success" role="alert">
        <strong>NOTIFIKASI : </strong> Berhasil hapus data
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-md-12">
                        <button class="btn btn-primary" onclick="window.location.href='/matakuliah/create';"><span
                                class="fa fa-plus"> Tambah Data Dong ya</span>
                        </button>
                        <button class="btn btn-default" onclick="window.location.href='/matakuliah';"><span
                                class="fa fa-refresh"> Refresh</span>
                        </button>
                        <div class="input-group" id="adv-search">
                            <form th:id="form-search" th:action="@{/matakuliah}"
                                  th:method="get">
                                <input class="form-control" type="text" id="search" name="search"
                                       th:value="${param.search}"
                                       placeholder="Pencarian..">
                            </form>
                            <div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <div class="dropdown dropdown-lg">
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false"><span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                                            <form th:id="form-search" class="form-horizontal" role="form" th:action="@{/matakuliah}"
                                                  th:method="get">
                                                <div class="form-group">
                                                    <label for="filter">Filter :</label>
                                                    <select class="form-control" id="filter" name="filter">
                                                        <option value="mataKuliah" selected="">Mata Kuliah
                                                        </option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-default"><span
                                                        class="fa fa-filter" aria-hidden="true"></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-default"
                                            onclick="document.getElementById('form-search').submit();">
                                        <span
                                            class="fa fa-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(dataSets)}" class="panel-body">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                    <tr>
                        <th>Mata Kuliah</th>
                        <th>SKS</th>
                        <th class="text-center"><em class="fa fa-cog"></em></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${dataSets}">
                        <td th:text="${data.mataKuliah}"></td>
                        <td th:text="${data.sks}"></td>
                        <td align="center">
                            <a th:href="${'matakuliah/update/' + data.id}" class="btn btn-warning"><i
                                    class="fa fa-pencil"></i></a>
                            <a href="#" class="delete-modal btn btn-danger"
                               th:data-value="${data.id}"
                               data-toggle="modal"
                               data-target="#myModal"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title">Yakin Hapus data ini?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Aksi ini tidak dapat di ulang.</p>
                </div>
                <div class="modal-footer">
                    <form th:action="@{/matakuliah/delete}" th:method="delete">
                        <input type="hidden" th:id="id" th:name="id">
                        <button type="submit" class="btn btn-danger" name="task_del">Hapus</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function (e) {
        $(document).on("click", ".delete-modal", function (e) {
            var id = $(this).attr('data-value');
            $('input[name="id"]').val(id);
        });
    });
</script>
</html>